
@{
    ViewBag.Title = "EventListRunning";
}

@using W1400.DataAccess.DTO

@{var permission = ((UserFunction)Session[W1400.Utility.SessionsManager.SESSION_PERMISSION]);}

@if (permission != null && permission.IsGrant)
{
    <table class="table table-striped table-bordered dataTable" border="1" role="grid" aria-describedby="example_info" width="100%" style="width: 100%;" id="dataTables">
        <thead>
            <tr class="info">
                <th style="text-align:center; width: 5%">STT</th>
                <th style="text-align:center;width: 10%">Ảnh</th>
                <th style="text-align:center;">Chương trình</th>
                <th style="text-align:center;">Thời gian</th>
                <th style="text-align:center;">Mục đích</th>
                <th style="text-align:center;">Đơn vị</th>
                <th style="text-align:center;width: 5%">File</th>
                @*<th style="text-align:center;width: 6%">Trạng thái</th>*@
                <th style="text-align:center;">Thông tin chung</th>
                <th style="text-align:center;">Chức Năng</th>
            </tr>
        </thead>
        <tbody>
            @if (ViewBag.ListEvent != null && ViewBag.ListEvent.Count > 0)
            {
                var i = 0;
                foreach (var obj in ViewBag.ListEvent)
                {
                    i++;
                    <tr role="row">
                        <td>@i</td>
                        <td>
                            <img src="@obj.Image" style="max-width: 100px" />
                        </td>
                        <td>
                            @obj.EventName
                        </td>
                        <td>
                            <span><b>StartTime: </b> @(obj.StartDate != null ? obj.StartDate.ToString("dd/MM/yyyy HH:mm") : "")</span><br />
                            <span><b>EndTime: </b> @(obj.EndDate != null ? obj.EndDate.ToString("dd/MM/yyyy HH:mm") : "")</span>
                        </td>
                        <td>
                            @obj.Porpose
                        </td>
                        <td>
                            <span><b>Chủ trì: </b> @obj.HostUnit</span><br />
                            <span><b>Phối hợp: </b> @obj.CoordUnit</span>
                        </td>
                        <td>
                            <a href="@obj.LegalFile" target="_blank"><i class="fa fa-file-archive-o" aria-hidden="true"></i></a>
                        </td>
                        @*<td>
                                @if (obj.Status == 1)
                                {
                                    <i style="color:green" class="fa fa-check"></i>
                                }
                                else
                                {
                                    <i style="color:red" class="fa fa-ban"></i>
                                }
                            </td>*@

                        <td>
                            <span><b>Thời gian tạo: </b>@obj.CreateDate.ToString("dd/MM/yyyy HH:mm:ss")</span><br />
                            <span><b>Thời gian sửa: </b>@(obj.UpdateDate != null ? obj.UpdateDate.ToString("dd/MM/yyyy HH:mm:ss") : "")</span>
                            <br />
                            <span><b>Người tạo: </b>@obj.CreateUser</span><br />
                            <span><b>Người sửa: </b>@obj.UpdateUser</span>
                        </td>

                        <td style="text-align:center">


                            @if (permission.IsUpdate)
                            {
                                <a href="@Url.Action("EventInertUpdate", new { ID = obj.EventID })" class="btn link-edit" data-trigger="hover" data-container="body" data-toggle="popover" data-placement="top" data-content="Sửa"><i class="fa fa-edit"></i></a>
                            }
                            @if (permission.IsDelete)
                            {
                                <a href="javascript:;" onclick="EventCtrl.RemoveEvent(@obj.EventID)" class="btn link-delete" data-trigger="hover" data-container="body" data-toggle="popover" data-placement="top" data-content="Xóa"><i class="fa fa-remove"></i></a>
                            }

                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <div class="dataTables_paginate" id="pagerArticle"></div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();

            var PageOnSize = '@ViewBag.PageSize';
            var CurrentPage = '@ViewBag.CurrentPage';

            $("#pagerArticle").pager({
                pagenumber: CurrentPage,
                pagecount: Math.ceil('@ViewBag.TotalRecord' / PageOnSize),
                buttonClickCallback: function (page) {
                    EventCtrl.ListEventRunning(page);
                }
            });
        });
    </script>
}
else
{
    <h2 style="color:red">ErrorPermission</h2>

    <h4>Bạn không có quyền truy cập . Xin hãy liên hệ Admin để được cấp quyền vào hệ thống CMS</h4>

    <a href="@Html.Raw(ViewBag.UrlLogin)?act=out" style="color:#005bff; font-size:13px;text-decoration:underline">Logout</a>
}



