@using W1400.DataAccess.DTO
@model Menu

@{
    var permission = ((UserFunction)Session[W1400.Utility.SessionsManager.SESSION_PERMISSION]);
}
<script src="~/ckfinder/ckfinder.js"></script>
@if (permission.IsGrant)
{

    <div class="well">
        <span class="label label-danger">
            Chú ý!
        </span>
        <span>
            Hãy chắc chắn nhập vào đầy đủ thông tin tại các mục bắt buộc đánh dấu (*)
        </span>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    @if (ViewBag.BannerID > 0)
                    {
                        <i class="fa fa-fw fa-user-md"></i><span>Cập Nhật Menu</span>
                    }
                    else
                    {
                        <i class="fa fa-fw fa-user-plus"></i><span>Thêm Menu</span>
                    }
                </div>
                <form id="defaultForm" method="post" class="form-horizontal">
                    <div class="panel-group" id="steps">
                        <div class="messager-body">
                            <div class="alert alert-success display-hide alert-dismissable">
                                <button type="button" class="close" data-close="alert" aria-hidden="true">×</button>
                                <span class="glyphicon glyphicon-ok"></span>
                                <label>Đã lưu dữ liệu thành công !!!</label>
                            </div>
                            <div class="alert alert-danger display-hide alert-dismissable">
                                <button type="button" class="close" data-close="alert" aria-hidden="true">×</button>
                                <span class="glyphicon glyphicon-warning-sign"></span>
                                <label id="ErrorMessage">Có một vài lỗi trong khung nhập liệu dưới đây ! kiểm tra lại</label>
                            </div>
                        </div>
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h4 class="panel-title"><i class="fa fa-wrench" style="margin-right:7px"></i>Thông Tin Cơ Bản</h4>
                            </div>
                            <div class="panel-body">


                                <div class="form-group">
                                    <label for="txtBannerName" class="control-label col-md-1">Tên Menu (*)  </label>
                                    <div class="col-md-8">
                                        <div class="input-icon right">
                                            <input type="text" id="txtMenuName" name="title" value="@Model.MenuName" class="form-control" placeholder="Tên Menu" />
                                        </div>
                                    </div>
                                </div>

                                @if (Model.FatherID != 0 || ViewBag.MenuID == 0)
                                {
                                    <div class="form-group">
                                        <label for="txtBannerName" class="control-label col-md-1">Menu Cha</label>
                                        <div class="col-md-8">
                                            <select class="form-control input-icon" id="txtFatherId">
                                                <option value="0">Không</option>
                                                @for (int i = 0; i < ViewBag.listmenu.Count; i++)
                                                {
                                                    var item = ViewBag.listmenu[i];
                                                    <option value="@item.MenuID" @if (item.MenuID == Model.FatherID) { @Html.Raw("selected")  }>@item.MenuName</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                }
                                

                                <div class="form-group">
                                    <label for="txtBannerName" class="control-label col-md-1">Url  </label>
                                    <div class="col-md-8">
                                        <div class="input-icon right">
                                            <input type="text" id="txtUrlRedirect" name="title" value="@Model.UrlRedirect" class="form-control" placeholder="Đường dẫn" />
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="control-label col-md-1" for="cbxIsActive">Trạng thái</label>
                                    <div class="col-md-3">
                                        <div class="input-icon checkbox">
                                            @if (Model.Status == 1)
                                            {<input type="checkbox" id="cbxIsActive" checked="checked" />}
                                            else
                                            {<input type="checkbox" id="cbxIsActive" /> }

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="panel-footer form-horizontal">
                                <div class="form-group submit">
                                    @if (permission.IsInsert || permission.IsUpdate)
                                    {
                                        <button type="button" class="btn btn-primary" onclick="MenuCtrl.BtnSave(@ViewBag.MenuID);"><i class="fa fa-save"></i>Lưu lại</button>
                                    }
                                    <button type="button" class="btn btn-default" onclick="MenuCtrl.BtnBack();"><i class="fa fa-backward"></i>Back</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

}
else
{
    <h2 style="color:red">ErrorPermission</h2>

    <h4>Bạn không có quyền truy cập . Xin hãy liên hệ Admin để được cấp quyền vào hệ thống CMS</h4>

    <a href="@Html.Raw(ViewBag.UrlLogin)?act=out" style="color:#005bff; font-size:13px;text-decoration:underline">Logout</a>
}

