@model List<W1400.DataAccess.DTO.Article>
@using W1400.Utility;
@if (Model != null && Model.Count > 0)
{
    <div class="col-lg-8 col-md-8 col-sx-8 col-sm-12">
        <div class="tieude_noidung_trai">
            tìm kiếm
        </div>
        <div class="noidung_chitiet_tintuc">
            <h6>Có @ViewBag.TotalRecord kết quả với từ khóa <b id="Text"></b>:</h6>
        </div>
        @{NoMark rw = new NoMark();}
        @for (int i = 0; i < Model.Count; i++)
        {
            string rewrite = rw.ReWrite(Model[i].Title, Model[i].ArticleID);
            <div class="box_all_ketqua_timkiem">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sx-12 col-sm-12">
                        <div class="box_img_timkiem"><a href="@rewrite"><img src="@Model[i].Image.360.220.cache" alt="@Model[i].Title" style="border-style: solid; border-width: 1px; border-color: #02a7e1"></a></div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sx-12 col-sm-12">
                        <div class="box_info_timkiem">
                            <a href="@rewrite">@DBCommon.SubString(Model[i].Title, 40)</a>
                            <em>@Model[i].CreateDate.ToString("dd/MM/yyyy HH:mm")</em>
                            <p>@DBCommon.SubString(Model[i].Description, 90)</p>
                        </div>
                    </div>
                </div>
            </div>
        }
        @if (ViewBag.TotalPage > 1)
        {
        int page = ViewBag.currentPage; //page hien tai
        int total_page = ViewBag.TotalPage; //tong so page
        int prePage = page - 1;
        int nextPage = page + 1;
        <ul class="list_phantrang_chitiet">
            <li @if (page == 1) { prePage = page; @: class="disabled"
                            }><a href="javascript:;" onclick="GoToSearch(@prePage)"></a></li>
            @for (int i = page - 2; i <= page + 2; i++)
            {
                if (i > 0 && i <= total_page)
                {
                    if (i == page)
                    {
                        <li style="background-color: #02a7e1;"><a style="color: #fff;" href="javascript:;" onclick="GoToSearch(@i)">@i</a></li>
                    }
                    else
                    {
                        <li><a href="javascript:;" onclick="GoToSearch(@i)">@i</a></li>
                    }
                }
            }

            <li @if (page == total_page) { nextPage = page; @: class="disabled"
                                        }><a href="javascript:;" onclick="GoToSearch(@nextPage)"></a></li>
        </ul>
        }
    </div>
}
else
{
    <div class="col-lg-8 col-md-8 col-sx-8 col-sm-12">
        <div class="tieude_noidung_trai">
            tìm kiếm
        </div>
        <div class="noidung_chitiet_tintuc">
            <h6>Có 0 kết quả với từ khóa <b id="Text"></b></h6>
        </div>
    </div>
}
