@{
    W1400.DataAccess.DTO.Article m_Article = ViewBag.Article;
}
<div class="col-lg-8 col-md-8 col-sx-8 col-sm-12">
    <div class="tieude_noidung_trai">
        Tin tức
        @Html.Action("MenuArticle", "Partial")
    </div>
    @{W1400.Utility.NoMark rw = new W1400.Utility.NoMark();}
    @if (m_Article != null)
    {
        string rewrite = rw.ReWrite(m_Article.Title, m_Article.ArticleID);
        <div class="noidung_chitiet_tintuc margin_bottom_30px">
            <div class="box_img_chitiet_tin">
                @if (!string.IsNullOrEmpty(m_Article.ImageDetail))
                {
                    <a style="cursor:pointer;" href="@rewrite">
                        <center> <img src="@m_Article.ImageDetail" class="img-responsive" alt="@m_Article.Title"></center>
                    </a>
                }
            </div>
            <span style="font-size: 24px;"><a style="cursor:pointer;" href="@rewrite">@m_Article.Title</a></span>
            <table style="width: 100%;margin-bottom: 11px;">
                <tr>
                    <td style="font-style:italic;">@m_Article.CreateDate.ToString("dd/MM/yyyy")</td>
                    <td style="font-style:italic;float:right"><img src="@System.Configuration.ConfigurationManager.AppSettings["URL_ROOT"]images/icon_view.png" alt="">@m_Article.CountView Xem</td>
                </tr>
            </table>
            <p>
                @Html.Raw(m_Article.Description)
            </p>
        </div>
    }
    <div class="tieude_noidung_trai">
        Tin cổng 1400
    </div>
    @Html.Action("ArticleAllPartial", "Article", new { UrlRewrite_ = "tin-cong-1400" })

    <ul class="list_xemthem">
        <li><a href="@System.Configuration.ConfigurationManager.AppSettings["URL_ROOT"]tin-cong-1400">Xem thêm</a></li>
    </ul>
    <div class="tieude_noidung_trai">
        sự kiện
    </div>
    @Html.Action("ArticleAllPartial", "Article", new { UrlRewrite_ = "su-kien" })
    <ul class="list_xemthem">
        <li><a href="@System.Configuration.ConfigurationManager.AppSettings["URL_ROOT"]su-kien">Xem thêm</a></li>
    </ul>
    <div class="tieude_noidung_trai">
        hoạt động nhân đạo
    </div>
    @Html.Action("ArticleAllPartial", "Article", new { UrlRewrite_ = "hoat-dong-nhan-dao" })
    <ul class="list_xemthem">
        <li><a href="@System.Configuration.ConfigurationManager.AppSettings["URL_ROOT"]hoat-dong-nhan-dao">Xem thêm</a></li>
    </ul>
</div>